@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Overpass:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
}
body {
  background: url(./images/pattern-background-desktop.svg) var(--Pale-blue);
  background-repeat: no-repeat;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 360px;
  background-color: var(--Very-pale-blue);
  box-shadow: rgba(0, 0, 0, 0.25) 1px 3px 8px;
  border-radius: 1rem;
}

#hero-img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}
